@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

:root {
  --color: #028102;
  --seccolor: #ed1651;
}
.btncolor {
  color: #ed1651;
}

/* webkit scroll bar color  start*/
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: #028102;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #ed1651;
  border-radius: 10px;
}
/* webkit scroll bar color  end*/

/* topbar start */
.icon {
  font-size: 16px;
  color: #028102;
}
.btns {
  text-decoration: none;
  outline: none;
  border: 0;
  background-color: #ed1651;
  color: white;
  border: 1px solid white;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: -20px;
  right: -20px;
}
/* topbar end */

/*------------ header start  ------ */
.navbar {
  top: -1px;
  z-index: 100;
  background-color: var(--color);
  color: white !important;
}
.navbar-brand {
  width: 160px;
  height: 63px;
}
.navbar-brand img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.navbar-nav .nav-item {
  font-size: 18px;
  color: var(--color);
}
.a {
  margin-top: 40px;
}
.inquirybtn {
  background-color: #ec4b76;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* home carausel system  */
.carousel-item {
  height: 80vh;
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); /* Adjust the colors and opacity as needed */
}
.carousel-item img {
  height: 80vh;
  object-fit: cover;
}
.carousel-caption {
  top: 40px;
}

/* home carausel system  end */
.bannerIcon {
  top: 50%;
  right: 0px;
  transform: translatey(-50%);
  color: white;
  padding-right: 10px;
}
.phoneIcon {
  position: relative;
  font-size: 28px;
  margin: 6px 0;
  padding: 0px 10px;
  border: 1px dotted #ed1651;
  background-color: #028102;
}
.phoneIcon::after {
  content: attr(data-text);
  overflow: hidden;
  position: absolute;
  display: none;
  color: green;
  height: 100%;
  width: 250px;
  border: 1px solid#ed1651;
  right: 100%;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 0;
  animation: animateHover 0.7s normal;
}
.phoneIcon:hover::after {
  display: block;
}
.phoneIcon::after {
  content: attr(data-text);
  font-size: 18px;
  text-align: center;
  align-items: center;
  padding-top: 7px;
  font-weight: 600;
}

@keyframes animateHover {
  0% {
    width: 0;
  }

  100% {
    width: 250px;
  }
}

@media (max-width: 567px) {
  .logoicon {
    display: block;
  }
}
@media (max-width: 768px) {
  .logoicon {
    display: block;
  }
}

/* testimonial section  */
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("https://img.freepik.com/free-photo/kids-dance-school-ballet-hiphop-street-funky-modern-dancers-blue-studio_155003-5943.jpg?t=st=1717305301~exp=1717308901~hmac=191f09a591b11b7a92bed505b52827c32dcd7a7739db8a1483a2afa1aef32f78&w=826");
  background-size: cover;
  background-position: center;
}

.client {
  color: #fd2660;
}
.review {
  text-align: justify;
  color: rgb(225, 224, 224);
}
.reviewsimg {
  width: 60px;
  height: 60px;

  border-radius: 50%;
}
.testimonial-item {
  padding: 0 10px;
  border: 1px solid #ec4b76;
  border-radius: 15px;
}
.reviewsimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
}
.maps {
  width: 100%;
  margin-bottom: -8px;
}
.mpasint {
  width: 100%;
}

/* ScrollComponent.css */

.QRCodeDownload {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.QRCodeDownload .QRCode {
  max-width: 100px;
  height: auto;
}

#popoupContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageContainer {
  height: 70%;
  position: relative;
}

/* about */
.about {
  background-color: #f6f3f3;
}
.aboutmission {
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--color);
  color: rgb(242, 246, 242) !important;
  padding: 12px;
  border-radius: 10px;
  height: 135px;
}
.lineborder {
  border-bottom: 2px solid var(--seccolor);
  width: 60px;
}
.philosphy {
  text-align: justify;
}
.aboutheade {
  color: var(--seccolor);
}
.aboutimg {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
.lrpaimg {
  width: 200px;
  height: 100px;
}
.lrpaimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lineheight {
  line-height: 20px;
  color: #343333;
}
.feature {
  color: var(--color);
}
.with-line {
  position: relative;
}
.with-line::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust this value to control the distance of the line from the text */
  left: 25%; /* Position the line at the center of the text */
  width: 50%; /* Adjust this value to control the width of the line */
  border-bottom: 2px solid var(--seccolor); /* Style of the line */
}

/* blogs section start */
.blog {
  color: #ed1651;
}
.blogbtn {
  background-color: #ed1651;
  color: aliceblue;
}

.blogbtn:hover {
  background-color: #028102;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}
.card-text {
  font-size: 15px;
}

/* contact page */
.contact-icon {
  background-color: #ed1651;
}

/* communtity */
.learning12{
  background-image: url('https://img.freepik.com/premium-vector/green-wave-white-background-abstract-transparent-wave-background_206325-200.jpg?w=826');
background-position: center;
}
.comm-parent {
 
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("https://img.freepik.com/premium-photo/abstract-background-design-images-wallpaper-ai-generated_643360-193955.jpg?w=740");
}
.commnuti {
  font-size: 30px;
  font-weight: 500;
  font-family: "Times New Roman";
}
.text-wrap {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sticky-top {
  position: sticky;
  top: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.content-section.visible {
  opacity: 1;
}
.content-section {
  width: 100%;
  height: 500px;
}
.content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.content-image:hover {
  transform: scale(1.05);
}

.image-overlay {
  position: absolute;
  bottom: 15px;
  left: 200px;
  right: 10px;
  border-radius:10px;
  padding: 5px 20px;
  align-items: center;
  background-color: rgb(41, 114, 41);
 
  color: white;
  opacity: 1;
  border: 1px solid rgb(253, 253, 253);
  
  transition: opacity 0.3s ease-in-out;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learning {
  font-style: italic;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.learning:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.progress-container {
  display: flex;
  flex-direction: column;
  
}

.progress-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 10px;
  height: 50px;
  background-color: lightgray;
  transition: background-color 0.3s;
}

.progress-bar.active {
  background-color: red;
}

.learning.active-text {
  color: red;
  border-bottom: 2px solid red;
  font-weight: bold;
}

.learning-text{
  font-size: 14px;
  text-align: justify;
}
