.activiti-img{
    width: 100%;
   height: 180px;
}
.activiti-img img{
    width: auto;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}
.midimg img{
    border-radius: 10px;

}


.firstimg{
  height: 250px;
  width: 100%;
  padding: 0;
  margin: 0;
    
}
.firstimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
      
  }

  .midimg{
    margin-bottom: 100px;
  }


  .calender li{
    font-size: 15px;
    color:rgb(2, 129, 2);
    border-top:1px solid rgb(168, 12, 12) ;
    padding: 5px 0;
  }
  .event{
    background-color:#E8FFE8 ;
  }

  .leftborder{
    border-right: 1px solid rgb(217, 10, 10);
  }



  .noticeborder{
    border-left: 1px solid red;
    
  }
 
  .notice-card{
    width: fit-content;
    padding: 0 10px;
    height: 521px;

  }
  .notice-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .shareicon{
    border-radius: 50%;
    padding: 10px;
  }

  /* new components */
  .newp{
    font-size: 17px;
    text-align: justify;
  }

  .leftImg {
    height: 100%;
  }


  .bannerbtn {
    background-color: var(--red); 
    border: none;
    color: white;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 50px; 
    margin-right: 480px;
    margin-top: 20px;

 
   
  }

  .eventup{
    margin-left: 200px;
    margin-bottom: 20px;
  }
  .gallerysec{
    background-color: rgb(232, 255, 232);
  }


  .inquirybtnlist{
    margin-left: 140px;
  }

  .blogbg{
    background-color: #E8FFE8;
  }
  .footercolor{
    background-color: aliceblue;
  }